/* This file is for your main application css. */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import "./phoenix.css";
@import "./live_view.css";
@import "./breakout.css";

html {
  overflow-x:hidden;
  background: #292a2d;
  color: #a9a9b3;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  line-height: 1;
  color: #a9a9b3;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

header {
  background: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: none;
}

.header__inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.header__inner a:hover {
  text-decoration: none;
  color: #a9a9b3;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding: 0;
}
