@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html {
  overflow-x:hidden;
}

.game-container .block.platform {
  background: gray;
}


/* .pacman{
  position: relative;
  z-index: 999;
}
.game-container .block{
  display: block;
  position: absolute;

}
.game-container .block.tail{ background: yellow; }
.game-container .block.wall{ background: blue; }
.game-container .block.empty{ background: #000000; }

.pacman-top{
  background-color:yellow;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
} */
