@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html {
  overflow-x:hidden;
}

/* TODO: Copy stuff from snake css */

.game-container .block.paddle {
  background: gray;
}

.game-container .block.ball {
  background: black;
  border-radius: 50%;
}

.game-container .block.obstacle {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.game-container .block.block_head {
  border-style: solid;
  border-color: gray;
  border-width: 1px 0 1px 1px;
}

.game-container .block.block_body {
  border-style: solid;
  border-color: gray;
  border-width: 1px 0 1px 0;
}

.game-container .block.block_tail {
  border-style: solid;
  border-color: gray;
  border-width: 1px 1px 1px 0;
}


/* .pacman{
  position: relative;
  z-index: 999;
}
.game-container .block{
  display: block;
  position: absolute;

}
.game-container .block.tail{ background: yellow; }
.game-container .block.wall{ background: blue; }
.game-container .block.empty{ background: #000000; }

.pacman-top{
  background-color:yellow;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
} */
