.welcome-container {
  margin: 6rem 12rem 12rem 12rem;
}

.welcome-container .start-play {
  text-align: center;
  padding-top: 4rem;
}

.welcome-container .no-mobile {
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .welcome-container {
    margin: 6rem 2rem 2rem 2rem;
  }

  .welcome-container .start-play {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .welcome-container .no-mobile {
    display: none
  }
}

.controls {
  text-transform: uppercase;
  font-weight: 700;
}

.info-container,
.game-container {
  position: relative;
  /* Subtract half of the board width*/
  left: calc(50% - 260px);
}

.info-container {
  padding-bottom: 1.5rem;
}

.info-container .separator {
  margin: 0 0.5rem;
}

.help-container {
  position: absolute;
  left: 60px;
  top: 320px;
  font-size: 14px;
}

.game-container .block{
  display: block;
  position: absolute;
}

.game-container .block.wall,
.game-container .block.floor {
  background: #717D7E;
}

.game-container .block.paddle {
  background: #717D7E;
  will-change: left, top;
  border-radius: 20px;
}

.game-container .block.ball {
  background: #CA6F1E;
  border-radius: 50%;
  will-change: left, top;
}

.game-container .block.brick {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.victory-container {
  text-align: center;
  margin: 12rem;
}
