.welcome-container {
  margin: 6rem 12rem 12rem 12rem;
}

.welcome-container .start-play {
  text-align: center;
  padding-top: 4rem;
}

.welcome-container .no-mobile {
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .welcome-container {
    margin: 6rem 2rem 2rem 2rem;
  }

  .welcome-container .start-play {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .welcome-container .no-mobile {
    display: none;
  }
}

.controls {
  text-transform: uppercase;
  font-weight: 700;
}

.info-container,
.game-container {
  position: relative;
  /* Subtract half of the board width*/
  left: calc(50% - 260px);
}

.info-container {
  padding-bottom: 1.5rem;
}

.info-container .separator {
  margin: 0 0.5rem;
}

.info-container .score {
  font-size: 14px;
}

.help-container {
  position: absolute;
  left: 56px;
  top: 300px;
  font-size: 13px;
  max-width: 440px;
}

.game-container .block {
  display: block;
  position: absolute;
}

.game-container .block.wall,
.game-container .block.floor {
  background: #717d7e;
}

.game-container .block.paddle {
  background: #717d7e;
  border-radius: 20px;
}

.game-container .block.ball {
  background: #ca6f1e;
  border-radius: 50%;
  will-change: left, top;
}

.game-container .block.brick {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.victory-container {
  text-align: center;
  margin: 12rem;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
