.container {
  padding: 0;
}

.info-container,
.game-container {
  position: relative;
  /* Subtract half of the board width*/
  left: calc(50% - 260px);
}

.info-container {
  color: #a9a9b3;
}

.game-container .block{
  display: block;
  position: absolute;
}

.game-container .block.wall,
.game-container .block.floor {
  background: #717D7E;
}

.game-container .block.paddle {
  background: #717D7E;
  will-change: left, top;
  border-radius: 20px;
}

.game-container .block.ball {
  background: #CA6F1E;
  border-radius: 50%;
  will-change: left, top;
}

.game-container .block.brick {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
